.customButton{
    margin: 0.5rem;
    width: 8rem;
    height: 3rem;
    border-radius: 5%;
    border-color: transparent;
    box-shadow: none;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: rgb(0, 174, 255);
    cursor: pointer;
}